@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">Ha sucedido un error o no tiene los suficientes privilegios para utilizar esta opcion.</h2>
<br />
<p>Si esta intentando eliminar o editar una compra, le indicamos que solo posee 5 minutos desde que registro la misma para realizar estas operaciones. Pasado este tiempo la compra queda en firme y solo un administrador puede editarla.</p>

