@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">Ha sucedido un error o no tiene los suficientes privilegios para utilizar esta opcion.</h2>

