@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASOGUARUMO</h1>
    <p class="lead">Para registrar una compra ingrese a la opción Comprar.</p>
    <p>Gracias por ayudarnos a crecer!</p>
</div>